/* ***GLOBAL*** */
body {
  margin: 0px;
  padding: 0;
  border: 0px;
  /* background-color: aqua; */
  background-image: radial-gradient(circle, white, aqua);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
  overflow: auto;
}
input:read-only{
  background-color: #E0E0E0;
}
select:disabled{
  background-color: #E0E0E0;
}

.btn-colorize-green{
  height: auto;
  /* width: 96%; */
  font-size: 20px;
  /* margin-left: 2%; */
  /* margin-right: 20%; */
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #4CAF50;
  /*border: 1px solid red; */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10 ; 
}
.btn-table-colorize-green{
  height: auto;
  font-size: auto;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin: 0px 5px 0px 5px;
}
.Input-as-Info{
  height: auto;
  width: 95%;
  padding: 10px;
  margin: 1%;
  margin-bottom: 20px;
  border: none;
  /* border: 1px solid red; */
}
.Input-as-Update{
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
}
.Input-as-Filter{
  height: auto;
  width: 80%;
  padding: 10px;
  margin: 1% 3% 1% 1%;
  margin-bottom: 20px;
  border: none;
}
.position-right{
  text-align: right;
}
.position-center{
  text-align: center;
}

/* ***GLOBAL-SWITCH*** */
.switch{
  display: inline-block;
  position: relative;
}
.switch span{
  width: 70px;
  height: 30px;
  border-radius: 24px;
  background-color:red;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: 0.2s ease-out;
}
.switch span:after{
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: 0.2 ease-out;
}
.switch input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:hover + span:after{
  background-color: #eeeeee;
}
.switch input:checked + span{
  background-color: #1BEAA5;
  content: 'TRUE';
}
.switch input:checked + span:after{
  transform: translateY(-50%);
  /* left: calc(100%-22px); */
  left: 60%;
}
.switch input:checked:hover + span{
  background-color: #15B681;
}
/* ***END-GLOBAL-SWITCH*** */
/* ***GLOBAL-FORM_ERROR*** */
.form-error{
  border: 2px solid #dc3545;
}
/* ***GLOBAL-FORM_ERROR-FORM_ERROR_MASSAGES*** */
.form-error-massages{
  font-size: 90%;
  color: #dc3545;
  width: 100%;
  margin-top: .25rem;
}
/* ***END-GLOBAL-FORM_ERROR-FORM_ERROR_MASSAGES*** */
/* ***END-GLOBAL-FORM_ERROR*** */
/* GLOBAL-TABLE */
.table-custom{
height: 100%;
/* width: 100%; */
}
/* END-GLOBAL-TABLE */
/* ***END-GLOBAL*** */

/* ***BOOTSRAP_ADJUST*** */
.modal-footer{
  margin-top: 20px;
}
.modal-super{
  max-width: 90%;
}
.modal-content-super{
  border: 1px solid purple;
}
/* ***END-BOOTSRAP_ADJUST*** */

/* ***LOADING*** */
.load-wrapp {
  width: 100%;
  height: 100px;
  text-align: center;
}
.letter-holder {
  padding-left: 35%;
  padding-right: 35%;
}
.letter {
  float: left;
  font-size: 52px;
  color: #39ff14 ;
  text-shadow: 1px 1px black;
}
.loadaer .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}
@keyframes loadingF {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* ***END-LOADING*** */

/* ***NAVBAR*** */
/* ***NAVBAR-LOGO*** */
.nav-logo{
  margin-right: 5%;
}
.imgnavbarlogo{
  height: 50px ;
  width: 60px ;
}
.navbartextlogo{
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
/* ***END-NAVBAR-LOGO*** */
/* ***Navbar-MENU*** */
.custom-navbar{
  background-color: #FFEB3B;
  z-index: 100;
}
.custom-nav-menu{
  width: 100%;
  margin-left: 5%;
  margin-right: 10%;
  padding: 0px;
  /* border: 1px solid red; */
}
.custom-nav-item{
  background-color: #E0E0E0;
  color: black;
  text-align: center;
  font-size: 20px;
  width: 25%;
  padding-right: 5%;
  padding-left: 5%;
  /* border: 1px solid blue; */
}
.custom-nav-item:hover{
  background-color: #607D8B;
}
.custom-dropdown-menu{
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  width: 100%;
}
.custom-dropdown-item{
  margin: 0px;
  padding: 10px 0px 10px 0px;
  background-color: #E0E0E0;
  color: black;
  text-align: center;
  font-size: 20px;
}
.custom-dropdown-item:hover{
  background-color: #607D8B;
}
/* ***END-Navbar-MENU*** */
.dropdown:hover .dropdown-menu{
  display: block;
}
/* ***END-NAVBAR*** */

/* ***ALERTS*** */
.custom-alerts{
  position: relative;
  /* font-size: 18px; */
  height: auto;
  width: 80%;
  margin:10px 0px 10px 10% ;
}
/* ***END-ALERTS*** */

/* ***CONTAINER*** */
.custom-container-setting{
  margin-top: 50px;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 10px black;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 100px;
}
/* ***END-CONTAINER*** */

/* ***LOGIN PAGE*** */
.LoginPage{
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 10%; */
}
/* ***END-LOGIN PAGE*** */

/* ***BIODATA*** */
.biodata-img{
  height: 200px;
  width: 200px;
  border: 10px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
/* ***END-BIODATA*** */

/* ***POINT*** */
.lampiran-img{
  height: 500px;
  width: 90%;
  border: 5px solid black;
  margin: 10px auto 20px auto;
  display: block;
  position: relative;
  z-index: 1;
}
.point-akhir{
  background-color: #F5F5F5;
  font-size: 100px;
  margin-top: 10%;
}
/* ***POINT-POINT_SCORE*** */
.pointscore{
  font-size: +800%;
  font-weight: 600;
  text-align: center;
  /* text-shadow: 1px 1px black; */
  margin: 70px auto 10px auto;
  display: block;
}
.pointgood{
  text-shadow: 1px 1px black;
  color: #4CAF50 ;
}
.pointwarning{
  text-shadow: 1px 1px black;
  color: #FFEB3B ;
}
.pointdenger{
  text-shadow: 1px 1px black;
  color: red;
}
.pointdead{
  text-shadow: 1px 1px black;
  color: #610104;
}
/* ***ENDPOINT-POINT_SCORE*** */
/* ***END-POINT*** */

/* ***RESPONSIVE*** */
/* //TODO when scroll navbar become fix */
/* ***RESPONSIVE-NAVBAR*** */
/* @media only screen and (max-width: 991px){
  body{
    background-color: red;
  }
} */
@media only screen and (max-width: 991px) {
  /* .dropdown:hover .dropdown-menu{
    display: block;
  } */
  /* .dropdown:hover{
    display: block;
  } */
  .custom-nav-menu{
    width: 90%;
  }
  .custom-nav-item{
    /* text-align: left; */
    width: 100%;
  }
}
/* ***END-RESPONSIVE-NAVBAR*** */

/* ***END-RESPONSIVE*** */
